.payment {
  width: 100%;
  background-color: #fff;
  min-height: 100%;
  padding: 30px 50px;
  position: relative;
  .page-heading {
    font-size: 30px;
    font-weight: 600;
  }
  .empty {
    font-size: 16px;
    font-weight: 600;
    color: #24c599;
  }

  .add-new {
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    border-radius: 12px;
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
  }

  .actions {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
  }

  .card-info {
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    border-radius: 12px;
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0 30px;
    &.checked {
      border: 1px solid #24c599;
      background-color: #24c59a0e;
    }
    .card-left-info {
      display: flex;
      flex-direction: row;
    }
    .circle {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid rgb(173, 173, 173);
    }
    .number {
      margin-left: 15px;
      font-size: 18px;
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 20px;
    min-height: 90vh;
    .modal-wrap {
      padding: 0px;
    }
    .card-info {
      width: 100%;
    }
    .add-new {
      width: 100%;
    }
  }
}

.modal-wrap {
  padding: 20px;
  h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -10px;
  }
}

@media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
  .modal-wrap {
    padding: 0px;
    h2 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }
}
