.dashboard {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  height: 100vh;
  padding: 0 60px;
  width: 100vw;
  justify-content: space-between;
  .dashbody {
    border-radius: 12px;
    width: calc(100% - 300px);
    // margin-left: -300px;
    padding-left: 0px;
    position: relative;
    z-index: 3;
    height: 100%;
    overflow-y: auto;
    padding-top: 60px;
    // padding-left: 30px;
    .mobile-nav {
      display: none;
    }
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 20px 0;
    flex-direction: column;
    overflow-x: hidden;
    .dashbody {
      margin: 40px 0 0;
      padding: 20px 0 0;
      overflow-x: hidden;
      width: 100%;
      height: auto;
      .mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: 0 20px;
        background-color: #fafafa;

        img {
          width: 40px;
        }
      }
    }
  }
}
