.search-form {
  .timing {
    // box-shadow: 0px 2px 8px #82818126;
    // box-shadow: 0 2px 8px #f0f1f2;
    height: 140px;
    width: 100%;
    margin-top: -70px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: row;
    .inps {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 140px;
      width: 97%;
      .inp {
        width: 33.33%;
        .label {
          margin-bottom: 5px;
          color: #929292;
        }
      }
    }
    .search {
      width: 40px;
    }
  }

  .shadowed {
    border-radius: 20px;
    box-shadow: 0px -7px 34px #00000029;
    padding: 0 60px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
  }

  .grey {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    padding: 200px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow: hidden;
    animation-name: slide;
    animation-duration: 1.5s;
    .close {
      position: absolute;
      top: 50px;
      right: 50px;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: #24c599;
      }
    }
  }

  .fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    .big {
      width: 40%;
      padding: 0 30px;
      &.guarded {
        border-left: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        display: flex;
        justify-content: center;
        width: 35%;
        // flex-direction: column;
      }
      .green--text {
        font-size: 14px;
      }
      .small-text {
        font-size: 10px;
        color: #afafaf;
        margin-top: 30px;
        margin-bottom: 5px;
      }
      .searches {
        p {
          font-size: 14px;
          margin-bottom: 0px;
          color: #707070;
        }
      }
    }
    .small {
      width: 25%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 320px;
      padding: 12px 30px;
      .time {
        box-shadow: 0px 3px 10px #8d8d8d29;
        width: 120px;
        padding: 12px;
        border-radius: 12px;
        background-color: #fff;
        margin: 5px;
        text-align: center;
        cursor: pointer;
        &.green {
          background-color: #24c599;
          color: #fff;
        }
      }
    }
  }

  @keyframes slide {
    0% {
      padding-top: 250px;
    }
    100% {
      padding-top: 200px;
    }
  }
  @media (max-width: 767px) {
    .timing {
      height: auto;
      padding: 30px 30px 45px;
      position: relative;
      margin-top: -90px;
      .inps {
        display: block;
        height: auto;
        .wide {
          width: 100% !important;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #ececec;
        }
        .narrow {
          width: 50% !important;
          display: inline-block;
          // margin-bottom: 20px;
        }
      }
      .search {
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -30px;
        width: 60px;
      }
    }
    .grey {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .fields {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .big {
        width: 100%;
        padding: 0 0 30px;
      }
      .small {
        width: 100%;
        padding: 20px 0;
      }
    }
    .grey {
      padding: 200px 20px 0;
    }
  }
}
