.my-account {
  width: 100%;
  background-color: #fff;
  min-height: 100%;
  padding: 30px 50px;
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .user-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    .photo {
      width: 80px;
      height: 80px;
      background-color: #eee;
      border-radius: 50%;
    }
    .name {
      margin-left: 15px;
    }
  }

  section {
    padding: 40px 0;
    border-bottom: 1px solid #e6e6e6;
    &.cut {
      padding-right: 300px;
    }
    .label {
      color: #989898;
      margin-bottom: 5px;
      margin-top: 20px;
      font-size: 14px;
    }
    .info {
      font-size: 14px;
    }
    .ghost {
      height: 30px;
      border: 1px solid #e6e6e6;
      padding: 10px 20px;
      border-radius: 20px;
      color: #636262;
      width: auto;
      cursor: pointer;
    }

    input {
      width: 100%;
      border: 1px solid #dcdcdc;
      background-color: #fafafa;
      border-radius: 40px;
      height: 50px;
      margin-bottom: 15px;
      margin-bottom: 0px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      button {
        height: 45px;
        padding: 0 20px;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 25px;
    section {
      &.cut {
        padding-right: 0px;
      }

      .buttons {
        flex-direction: column;
        button {
          width: 100%;
          margin-bottom: 12px;
        }
      }
    }
  }
}
