.sidebar {
  width: 290px;
  background-color: #fff;
  height: calc(100% - 120px);
  border-radius: 15px;
  position: relative;
  z-index: 12;
  margin: 60px 0;
  .logo-wrap {
    margin: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    img {
      height: 30px;
    }
    .welcome {
      color: #989898;
      margin-bottom: -8px;
    }
    .name {
      color: #000000;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 30px;
      position: relative;
      .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #68686886;
        cursor: pointer;
        padding-left: 40px;
        border-left: 3px solid #fff;
        span {
          margin-right: 15px;
        }
        svg {
          fill: #68686886;
          width: 18px;
        }
        &.active {
          border-left: 3px solid #24c599;
          color: #24c599;
          svg {
            fill: #24c599;
          }
        }
      }
      &.logout {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #68686886;
        cursor: pointer;
        padding-left: 40px;
        border-left: 3px solid #fff;
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    display: none;
  }
}
