.sidebar {
  width: 320px;
  background-color: #fff;
  height: 100%;
  border-radius: 15px;
  .logo-wrap {
    margin: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    .welcome {
      color: #989898;
      margin-bottom: 0px;
    }
    .name {
      color: #000000;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      padding-left: 40px;
      margin-bottom: 20px;
      .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #68686886;
        cursor: pointer;
        span {
          margin-right: 15px;
        }
        svg {
          fill: #68686886;
          width: 18px;
        }
        &.active {
          color: #24c599;
          svg {
            fill: #24c599;
          }
        }
      }
    }
  }
}
